<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapperInterface.GraphMapper">
    <!-- Mybatis 사용시 인터페이스, 패키지, 클래스명 일치시킬것 -->
    <select id="productGraph" resultType="com.example.perfume01.dto.GraphDTO">
        SELECT product_no, product_name, product_brand, product_sellcount
        FROM product
    </select>
</mapper>